/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
  background: #f4f4f4;
}

/* BOXES */
.box {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* =========================
   FIXED
========================= */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

/* =========================
   RELATIVE
========================= */
.relative-box {
  position: relative;
  top: 10px;
  left: 20px;
  background: lightblue;
  padding: 10px;
}

/* =========================
   ABSOLUTE
========================= */
.parent-relative {
  position: relative;
  height: 150px;
  background: #eee;
}

.absolute-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  padding: 10px;
}

/* =========================
   STICKY
========================= */
.sticky-title {
  position: sticky;
  top: 50px;
  background: yellow;
  padding: 10px;
}

/* Scroll space to test sticky */
.scroll-space {
  height: 800px;
}

/* =========================
   FLOATING BUTTON
========================= */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: #4f46e5;
  color: white;

  border: none;
  padding: 15px 18px;
  border-radius: 50px;

  cursor: pointer;
  font-size: 16px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  transition: 0.3s;
}

.floating-btn:hover {
  transform: scale(1.1);
  background: #22c55e;
}

/* =========================
   FLOAT DEMO
========================= */
.float-img {
  float: left;
  margin: 0 15px 10px 0;
  border-radius: 8px;
}

/* Clears float so next elements don’t wrap */
.clear {
  clear: both;
}